@import "./nav.css";
@import "./tile-menu.css";
@import "./home.css";
@import "./about-me.css";

:root {
  --main-red: #7f0004;
  --bright-red: #cc0006;
  --pinkish-red: #ff4c52;
}

.color--bright-red {
  color: var(--bright-red);
}

.color--pinkish-red {
  color: var(--pinkish-red);
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: var(--main-red);
}

a:hover {
  text-decoration: none;
  color: var(--pinkish-red);
}

section {
  margin-top: 2em;
}

@media screen and (min-width: 992px) {
  .three-columns {
    column-count: 3;
    display: block;
  }
}

.vertical-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
