body {
  background: linear-gradient(to bottom, white, white 80%, rgb(218, 255, 255) 100%);
  text-align: justify;
}

.heroImage {
  background: no-repeat center url("../images/hustle-hero.jpg");
  background-size: cover;
  height: 60vh;
  margin-bottom: 1em;
}

@media screen and (max-width: 576px) {
  .heroImage {
    height: 30vh;
  }
}

.heroImage__img {
  height: 60%;
  width: 60%;
}

section {
  margin-top: 1em;
}

@media screen and (min-width: 576px) {
  .two-columns {
    column-count: 2;
    display: block;
  }
}
