html {
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
  color: #0B88D7;
  letter-spacing: 1px; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

h1, h2 {
  margin: 1em; }

a, a:hover, a:visited {
  color: #8b0000;
  text-decoration: none; }

ul {
  list-style-type: none; }

body {
  display: flex;
  height: 100vh;
  overflow: hidden; }
  body aside {
    flex: 1 0 25%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #f9f9f9;
    color: #333;
    overflow-y: scroll;
    margin-right: -20px; }
    body aside #logo {
      display: flex;
      align-items: center;
      padding: 1em;
      padding-left: 0;
      color: #8b0000; }
      body aside #logo img {
        max-width: 25%; }
      body aside #logo h2 {
        margin-left: 1em;
        font-size: 1.2em; }
    body aside ul {
      width: 100%; }
      body aside ul li {
        text-transform: uppercase;
        font-size: 130%;
        margin-bottom: 0.25em; }
        body aside ul li.active {
          color: #FF3837; }
        body aside ul li h1 {
          margin: 0; }
    body aside article {
      padding: 1em;
      padding-left: 0; }
  body section {
    flex: 1 0 75%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    margin-left: -20px;
    margin-right: -20px;
    background: white; }
    body section:target {
      display: flex; }
    body section > * {
      border-width: 3px 0 3px 3px;
      border-style: solid;
      -webkit-border-image: -webkit-gradient(linear, 100% 0, 0 0, from(#333), to(transparent)) 1 100%;
      -webkit-border-image: -webkit-linear-gradient(right, #333, transparent) 1 100%;
      -moz-border-image: -moz-linear-gradient(right, #333, transparent) 1 100%;
      -o-border-image: -o-linear-gradient(right, #333, transparent) 1 100%;
      border-image: linear-gradient(to right, #333, transparent) 1 100%; }
    body section div.content {
      margin: 0 1em;
      min-width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
    body section header {
      font-family: 'Lora', serif;
      width: 100%;
      text-align: center; }
      body section header h1 {
        text-transform: uppercase; }
      body section header h2 {
        font-size: 1.2em; }
    body section p {
      margin-bottom: 1.5em; }
    body section .images {
      flex: 1 0 50%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; }
      body section .images img {
        max-width: 40%;
        max-height: 40%;
        margin: 1em; }
    body section article {
      flex: 1 0 auto;
      display: flex;
      padding: 2em;
      align-items: center; }
    body section#home header {
      height: 15em;
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      body section#home header img {
        max-width: 80%;
        max-height: 80%;
        margin: 0 auto; }
    body section#home article {
      padding-top: 0; }
    body section#case-studies {
      justify-content: flex-start; }
      body section#case-studies article:nth-of-type(even) {
        background: #ececec;
        color: #38B2FF; }
        body section#case-studies article:nth-of-type(even) li {
          color: #0B88D7; }
      body section#case-studies article ul li {
        display: inline-block;
        margin: 0 0.5em;
        background: lightgray;
        border-radius: 1em;
        padding: 0.5em 1em;
        color: #38B2FF; }
    body section#talks {
      align-items: flex-start; }
      body section#talks article {
        width: 100%; }
      body section#talks .content {
        width: 100%; }
