.tile-list {
  margin: 0 auto;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 8em;
  width: calc(8em * 4);
}

.menu-open .tile-list {
  display: flex;
}

@media screen and (max-width: 576px) {
  .tile-list {
    width: 100%;
  }
}

.tile:nth-of-type(odd) {
  background: var(--main-red);
}

.tile:nth-of-type(even) {
  background: var(--bright-red);
}

.tile {
  width: 100%;
  height: auto;
  padding: 1em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  color: white;
  font-weight: bold;
  text-align: center;
  box-shadow: inset 0 7em 10em -5em rgba(255, 255, 255, 0.6), 0 0.3em 0.5em -0.2em rgba(100, 100, 100, 1);
}

@media screen and (min-width: 576px) {
  .tile {
    width: 8em;
    height: 8em;
    padding: none;
    border-radius: 10px;
  }
}

.tile:hover {
  box-shadow: inset 0 7em 10em -5em rgba(255, 255, 255, 0.6), 0 0.3em 0.5em -0.2em rgba(100, 100, 100, 1),
    0 1em 2em -0.75em rgba(100, 100, 100, 0.75), 0 1em 3em -0.5em rgba(100, 100, 100, 0.5),
    0 3em 3em -0.25em rgba(100, 100, 100, 0.2);
}

.tile a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 3px rgba(25, 25, 25, 0.2);
}

.tile a:hover {
  color: white;
}

.tile i {
  display: block;
  font-size: 2em;
}
